@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

:root{

    --pri-bg-color:#001514;
    --sec-color: #440B0A;
    --main-bg-color: #360D0C;
    --pri-color: #1B1110;
    --sec-bg-color: #290F0E; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Markazi Text", serif;
    background-color: var(--main-bg-color);
}

.header{
    width: 100vw;
    height: 60px;
    background-color: var(--pri-bg-color);
}

.nav_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;   
}

.nav_logo {
    text-decoration: none;
    font-size: 30px;
    padding: 0 20px;
    font-weight: bold;
}

.nav_logo span {
    color: var(--pri-color);
}

.nav_menu {
    padding: 16px;
}

.nav_list {
    list-style: none;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 65px;
}

.nav_link {
    text-decoration: solid;
    color: var(--sec-color);
    font-size: 18px;
}

.menu_bar{
    font-size: 1.6vw;
    flex-wrap: 800;
    display: none;
}
