@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

:root{

    --pri-color: #D9B310;
    --sec-color: #328CC1;
    --pri-bg-color:#1D2731;
    --sec-bg-color: #0B3C5D; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Markazi Text", serif;
    background-color: var(--main-bg-color);
}

.header{
    padding: 14px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: var(--pri-bg-color);
}

.nav_logo a{
    color: white;
    font-size: 2rem;
    padding: 0 20px;
    font-weight: bold;
    font-family: cursive;
    text-decoration: none;
}

.nav_menu ul li{
    margin: 0 25px;
}

.nav_list{
    display: flex;
    list-style: none;
}

li a{
    font-size: 1.75rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
    transition: .3s;
}

li a:hover,
li a.active-link{
    color: var(--sec-color);
}

.menu_bar{
    font-size: 2.4rem;
    color: white;
    cursor: pointer;
    display: none; /* Initially hidden on large screens */
    position: absolute;
    top: 14px; /* Align vertically within the header */
    right: 20px; /* Align to the right */
}

/* Responsive Menu */
@media screen and (max-width: 768px) {
    .menu_bar {
        display: block;
    }

    .nav_list {
        display: none; /* Hidden by default */
        flex-direction: column;
        width: 100%; /* Full width of the screen */
        background-color: var(--sec-bg-color);
        position: fixed;
        top: 60px; /* Positioned below the header */
        left: 0;
        z-index: 99;
        padding: 10px 0;
    }

    .nav_list.active {
        display: flex; /* Show the nav list when active */
    }

    .nav_menu ul li {
        margin: 10px 0;
        text-align: center;
        height: auto; /* Allow the full height of items */
        padding: 10px 0;
    }
}